.carousel-root {
	display: flex;
	flex-direction: row-reverse;
}
.thumbs {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	height: auto;
}
.thumbs-wrapper ul {
	transform: none !important;
	height: 100%;
}
.thumbs-wrapper {
	height: 100%;
}
.carousel {
	width: 25%;
}
.carousel-slider {
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
}
.thumbs-wrapper {
	width: 100%;
	margin: 0px;
}
.slider-wrapper {
	display: flex;
	align-items: center;
	justify-items: center;
}
.carousel-status {
	margin-top: 10px;
	margin-right: 10px;
	font-size: 13px;
}
/* img {
	border-radius: 5%;
} */
@media screen and (max-width: 700px) and (min-width: 200px) {
	.carousel-root {
		display: flex;
		flex-direction: column;
	}

	.thumb.selected {
		border: 1px solid #333;
	}
	.thumbs {
		display: flex;
		flex-direction: row;
		display: flex;
		justify-content: center;
	}
	.thumbs-wrapper ul {
		transform: translate();
	}
	.thumbs-wrapper {
		height: 100%;
	}
	.carousel {
		width: 100%;
	}
	.carousel .thumbs-wrapper {
		margin: 0 auto;
		margin: 0px;
		margin-top: 10px;
	}
	.carousel-slider {
		height: fit-content;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.thumbs-wrapper {
		width: 100%;
		margin: 0px;
	}
	.slider-wrapper {
		display: flex;
		align-items: center;
		justify-items: center;
	}
	.carousel .thumb.selected,
	.carousel .thumb:hover {
		border: 1px solid #333;
	}
	.carousel .thumb {
		margin-right: 0px;
		border: 1px solid #fff;
		padding: 1px;
	}
}
@media screen and (max-width: 1100px) and (min-width: 701px) {
	.carousel-slider {
		align-self: center;
	}
	.carousel .thumbs-wrapper {
		margin: 10px;
	}
	.thumbs {
		width: 80px;
		align-items: center;
	}
	.carousel .thumb {
		margin-right: 0px;
		border: 1px solid #fff;
		padding: 1px;
	}
	.carousel .thumb.selected,
	.carousel .thumb:hover {
		border: 1px solid #333;
	}
}
